#circle {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: white;
  position: absolute;
  left: 49vw;
  top: 70vh;
}
#circle2 {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: white;
  position: absolute;
  left: 20vw;
  top: 13vh;
}
#circle3 {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: white;
  position: absolute;
  left: 41vw;
  top: 50vh;
}
#circle4 {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: white;
  position: absolute;
  left: 80vw;
  top: 78vh;
}
#something {
  width: 100vw;
  height: 100vh;
  background: rgb(17 15 25);
}
